# MongoDB Connection String (Local or Atlas)
MONGO_URI=mongodb://localhost:27017
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.exmyk.mongodb.net/?retryWrites=true&w=majority

# Name of the MongoDB database
MONGO_DB_NAME=gcit_dashboard

# Application Settings
PROJECT_NAME="GCIT Chatbot Backend"

# Security (Change this in production to a random secure string!)
# Use `openssl rand -hex 32` to generate one
SECRET_KEY=generate_a_very_secure_random_key_here_for_jwt

# Token Expirations (in minutes)
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080 # 7 days
